.btn {
  padding: 12px 16px;
  border-radius: 16px;
  &.btn-primary {
    @include small($light-green);
    background-color: $primary-green;
    border: 1px solid $primary-green;
    &:hover,
    &:focus {
      @include small($primary-black);
      background-color: $secondary-green;
    }
  }
  &.btn-secondary {
    @include small($secondary-green);
    background-color: $dark-green;
    border: 1px solid $primary-green;
    &:hover,
    &:focus {
      @include small($primary-black);
      background-color: $secondary-green;
    }
  }
  &.btn-arrow {
    color: $light-green;
    background-color: transparent;
    width: 28px;
    height: 28px;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    & .arrow-bg {
      content: "";
      background-color: $primary-green;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      aspect-ratio: 1/1;
    }
  }
}
