.header-logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  @media screen and (max-width: 768px) {
    position: relative;
    top: unset;
    transform: unset;
    margin-bottom: 20px;
  }
}

.nav {
  width: 500px;
  border: 1px solid $primary-green;
  border-radius: 50px;
  padding: 12px;
  @media screen and (max-width: 576px) {
    width: fit-content;
  }
  & .menu-selected {
    z-index: -1;
    content: "";
    height: 36px;
    background-color: $primary-green;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
  }
  & .nav-menu {
    padding-left: 12px;
    gap: 18px;
    & .menu-item {
      padding: 6px 0;
      position: relative;
      &::before {
        transition: all 0.3s ease-in-out;
        content: "";
        height: 100%;
        width: calc(100% + 24px);
        position: absolute;
        z-index: -2;
        background-color: transparent;
        border-radius: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover::before {
        background-color: $primary-green;
      }
      & .menu-icon {
        color: $secondary-green;
      }
      & .menu-label {
        width: 0;
        display: none;
        transition: all 0.3s ease-in-out;
      }
      &.active {
        .menu-label {
          display: block;
          width: fit-content;
          @media screen and (max-width: 576px) {
            display: none;
          }
        }
      }
    }
  }
  & .nav-contact {
    position: relative;
    padding: 7px 0px;
    margin-right: 18px;
    margin-left: 36px;
    &::before {
      transition: all 0.3s ease-in-out;
      position: absolute;
      z-index: -2;
      width: calc(100% + 36px);
      height: 100%;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $dark-green;
      border-radius: 30px;
    }
    &:hover::before {
      background-color: $primary-green;
    }
  }
}
