@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ke8fnl');
  src:  url('fonts/icomoon.eot?ke8fnl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ke8fnl') format('truetype'),
    url('fonts/icomoon.woff?ke8fnl') format('woff'),
    url('fonts/icomoon.svg?ke8fnl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e91e";
}
.icon-antd:before {
  content: "\e917";
}
.icon-bootstrap:before {
  content: "\e918";
}
.icon-framer:before {
  content: "\e919";
}
.icon-redux:before {
  content: "\e91a";
}
.icon-sass:before {
  content: "\e91b";
}
.icon-storybook:before {
  content: "\e91c";
}
.icon-tailwind:before {
  content: "\e91d";
}
.icon-django:before {
  content: "\e911";
}
.icon-laravel:before {
  content: "\e912";
}
.icon-nodejs:before {
  content: "\e913";
}
.icon-nextjs:before {
  content: "\e914";
}
.icon-react:before {
  content: "\e915";
}
.icon-vue:before {
  content: "\e916";
}
.icon-arrow-down-double-line:before {
  content: "\e900";
}
.icon-arrow-right-linear:before {
  content: "\e901";
}
.icon-arrow-top-right:before {
  content: "\e902";
}
.icon-blog:before {
  content: "\e903";
}
.icon-contact:before {
  content: "\e904";
}
.icon-copy:before {
  content: "\e905";
}
.icon-github:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-laptop:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-message:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-project:before {
  content: "\e90d";
}
.icon-skills:before {
  content: "\e90e";
}
.icon-stack:before {
  content: "\e90f";
}
.icon-whatsapp:before {
  content: "\e910";
}
