section.experience {
  .experience-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
    &:nth-of-type(1) {
      scroll-margin-top: 156px;
    }
    &:nth-of-type(2) {
      scroll-margin-bottom: 72px;
    }
    @media screen and (max-width: 768px) {
      min-height: fit-content;
    }
    & .container {
      max-width: 650px;
      @media screen and (max-width: 576px) {
        max-width: 320px;
      }
      & .experience-content {
        width: 100%;
        &.works {
          height: 548px;
        }
        &.organizations {
          height: 476px;
        }
        @media screen and (max-width: 576px) {
          width: fit-content;
          height: 732px;
        }
      }
      & .experience-arrow {
        margin: auto;
        @media screen and (max-width: 576px) {
          margin-left: -16px;
        }
      }
    }
    & .vertical-line {
      content: "";
      width: 1px;
      background-color: $primary-green;
      top: 0;
      left: 50%;
      @media screen and (max-width: 576px) {
        left: 0;
      }
    }
    & .dots-line {
      content: "";
      height: 8px;
      width: 8px;
      border-radius: 8px;
      background-color: $primary-green;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      @media screen and (max-width: 576px) {
        top: 0;
        left: 0;
        transform: translate(-50%, 75%);
      }
    }
    & .arrow-down-line {
      background-color: $primary-green;
      height: 32px;
      width: 32px;
      border-radius: 32px;
    }
  }
}
