.layout {
  padding-top: 100px;
  padding-bottom: 70px;
  @media screen and (max-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  & .layout-header {
    top: 0;
    bottom: unset;
    @media screen and (max-width: 768px) {
      top: unset;
      bottom: 0;
    }
  }
  & .layout-content {
    padding: 0;
    @media screen and (max-width: 768px) {
      padding-bottom: 100px;
    }
  }
}

section.text-layout {
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 92px - 100px);
  }
  .container {
    max-width: 750px;
    @media screen and (max-width: 768px) {
      padding: 0px 24px;
    }
  }
}

section.grid-layout {
  min-height: calc(100vh - 100px - 70px);
  @media screen and (max-width: 768px) {
    min-height: fit-content;
  }
  & .container {
    & .grid-content-layout {
      width: calc(246px * 4 + 24px * 5);
      @media screen and (max-width: 1200px) {
        width: calc(246px * 3 + 24px * 4);
      }
      @media screen and (max-width: 992px) {
        width: calc(246px * 2 + 24px * 3);
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
