section.text-layout {
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    min-height: fit-content;
  }
  .container {
    max-width: 750px;
    @media screen and (max-width: 768px) {
      padding: 0px 24px;
    }
  }
}

section.grid-layout {
  padding-top: 100px;
}
