.layout {
  & .layout-header {
    top: 0;
    bottom: unset;
    @media screen and (max-width: 768px) {
      top: unset;
      bottom: 0;
    }
  }
  & .layout-content {
    padding: 0;
    @media screen and (max-width: 768px) {
      // padding-top: 160px;
      padding-bottom: 100px;
    }
  }
}

section.text-layout {
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    min-height: fit-content;
  }
  .container {
    max-width: 750px;
    @media screen and (max-width: 768px) {
      padding: 0px 24px;
    }
  }
}

section.grid-layout {
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    min-height: fit-content;
  }
}
