.project {
  & .container {
    width: calc(246px * 4 + 24px * 5);
    @media screen and (max-width: 1200px) {
      width: calc(246px * 3 + 24px * 4);
    }
    @media screen and (max-width: 992px) {
      width: calc(246px * 2 + 24px * 3);
    }
    @media screen and (max-width: 576px) {
      width: calc(343px + 16px * 2);
    }
    @media screen and (max-width: 480px) {
      width: 375px;
      margin: 0;
    }
  }
  & .react-grid-item.react-grid-placeholder.cssTransforms {
    background-color: $primary-green;
    border-radius: 16px;
  }
  & .project-card {
    & .project-card-content {
      overflow: hidden;
      & .project-techstack {
        background-color: $dark-green;
        padding: 6px 17px;
        border-radius: 24px;
      }
    }
    &.card-horizontal {
      & .project-image {
        top: 0;
        left: 45%;
        z-index: -1;
        width: 485;
        height: auto;
        & img {
          width: 450px;
          height: auto;
          border-radius: 24px;
          transform: rotate(-20deg) translateY(-24px) translateX(40px);
        }
        &::after {
          position: absolute;
          content: "";
          top: 0px;
          right: 0px;
          left: 0;
          bottom: 0px;
          border-radius: 16px;
          background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0.35%,
            rgba(9, 12, 16, 0.8) 99.66%
          );
        }
      }
    }
    &.card-vertical {
      & .project-image {
        top: -60px;
        left: 80px;
        z-index: -1;
        transform: rotate(-27.5deg);
        display: flex;
        gap: 14px;
        & img {
          width: 180px;
          height: auto;
        }
      }
    }
    &.card-box {
      & .project-card-content {
        padding: 0;
      }
    }
  }
}
