.project {
  padding-top: 100px;
  padding-bottom: 70px;
  @media screen and (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 0px;
  }
  & .react-grid-item.react-grid-placeholder.cssTransforms {
    background-color: $primary-green;
    border-radius: 16px;
  }
  & .project-card {
    & .project-card-content {
      overflow: hidden;
      & .project-link {
        background-color: transparent;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        color: $light-green;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          background-color: $primary-green;
          width: 100%;
          aspect-ratio: 1/1;
          top: 100%;
          left: 0;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
      }
      & .project-techstack {
        background-color: $dark-green;
        padding: 6px 17px;
        border-radius: 24px;
      }
    }
    &:hover {
      & .project-link {
        &::before {
          content: "";
          top: 0;
        }
      }
    }
    &.card-horizontal {
      & .project-image {
        top: 0;
        right: -40%;
        & img {
          border-radius: 24px;
          transform: rotate(-20deg) translateY(-24px) translateX(40px);
        }
      }
      &::after {
        position: absolute;
        content: "";
        top: 1px;
        right: 1px;
        left: 0;
        bottom: 1px;
        z-index: 3;
        border-radius: 16px;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 50.35%,
          rgba(9, 12, 16, 0.8) 99.66%
        );
      }
    }
    &.card-vertical {
      & .project-image {
        top: -60px;
        left: 80px;
        z-index: -1;
        transform: rotate(-27.5deg);
        display: flex;
        gap: 14px;
      }
    }
    &.card-box {
      & .project-card-content {
        padding: 0;
        & .project-link {
          background-color: $primary-white;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          &::before {
            background-color: unset;
          }
        }
      }
    }
  }
}
