// Base Typography
@mixin baseTypography($fontWeight, $fontSize, $lineHeight) {
  font-family: $base-font;
  font-size: $fontSize;
  font-style: normal;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

// Types of Typography
@mixin heading1($color: $primary-white) {
  @include baseTypography(600, 40px, 48px);
  color: $color;
}

@mixin heading2($color: $primary-white) {
  @include baseTypography(600, 32px, 40px);
  color: $color;
}

@mixin heading3($color: $primary-white) {
  @include baseTypography(600, 24px, 32px);
  color: $color;
}

@mixin heading4($color: $primary-white) {
  @include baseTypography(600, 20px, 28px);
  color: $color;
}

@mixin heading5($color: $primary-white) {
  @include baseTypography(600, 16px, 24px);
  color: $color;
}

@mixin body($color: $primary-white) {
  @include baseTypography(400, 14px, 22px);
  color: $color;
}

@mixin small($color: $primary-white) {
  @include baseTypography(400, 12px, 20px);
  color: $color;
}

// Typography Classes
h1,
.text-heading-1 {
  @include heading1();
}

h2,
.text-heading-2 {
  @include heading2();
}

h3,
.text-heading-3 {
  @include heading3();
}

h4,
.text-heading-4 {
  @include heading4();
}

h5,
.text-heading-5 {
  @include heading5();
}

p,
.text-body {
  @include body();
}

small,
.text-small {
  @include small();
}

.text-primary-green {
  color: $primary-green !important;
}

.text-secondary-green {
  color: $secondary-green !important;
}

.text-light-green {
  color: $light-green !important;
}
