@import "reset";
@import "variables";
@import "typography";

@import "components/navigation";

@import "pages/home";
@import "pages/experience";

* {
  font-family: $base-font;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background-color: $primary-black !important;
  color: $light-green;
}

main {
  color: $light-green;
}

.layout {
  & .layout-content {
    padding: 0;
    @media screen and (max-width: 768px) {
      padding-top: 160px;
      padding-bottom: 80px;
    }
  }
}
