@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Base Font
$base-font: "Roboto Mono", monospace;

// Base Colors
$dark-green: "#2C3333";
$primary-green: "#426872";
$secondary-green: "#A5C9CA";
$light-green: "#E7F6F2";

$primary-white: "#FCFEFD";
$primary-gray: "#232323";
$primary-black: "#181C1C";

// Base Typography
@mixin baseTypography($fontWeight, $fontSize, $lineHeight) {
  font-family: $base-font;
  font-size: $fontSize;
  font-style: normal;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

// Types of Typography
@mixin heading1($color: $primary-white) {
  @include baseTypography(600, 40px, 48px);
  color: $color;
}

@mixin heading2($color: $primary-white) {
  @include baseTypography(600, 32px, 40px);
  color: $color;
}

@mixin heading3($color: $primary-white) {
  @include baseTypography(600, 24px, 32px);
  color: $color;
}

@mixin heading4($color: $primary-white) {
  @include baseTypography(600, 20px, 28px);
  color: $color;
}

@mixin heading5($color: $primary-white) {
  @include baseTypography(600, 16px, 24px);
  color: $color;
}

@mixin body($color: $primary-white) {
  @include baseTypography(400, 14px, 22px);
  color: $color;
}

@mixin small($color: $primary-white) {
  @include baseTypography(400, 12px, 20px);
  color: $color;
}

* {
  font-family: $base-font;
}
