@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "variables";
@import "typography";

@import "components/navigation";
@import "components/card";
@import "components/input";
@import "components/button";
@import "components/notification";

@import "pages/layout";
@import "pages/home";
@import "pages/project";
@import "pages/experience";
@import "pages/contact";
@import "pages/braille";
@import "pages/notfound";

* {
  font-family: $base-font;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background-color: $primary-black !important;
  color: $light-green;
}

main {
  color: $light-green;
}
