@import "reset";
@import "variables";
@import "typography";

@import "components/navigation";

* {
  font-family: $base-font;
}

body {
  background-color: $primary-black !important;
  color: $light-green;
}

main {
  color: $light-green;
}
