@import "reset";
@import "variables";
@import "typography";

@import "components/navigation";

@import "pages/layout";
@import "pages/home";
@import "pages/experience";
@import "pages/braille";

* {
  font-family: $base-font;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background-color: $primary-black !important;
  color: $light-green;
}

main {
  color: $light-green;
}

.layout {
  & .layout-header {
    top: 0;
    bottom: unset;
    @media screen and (max-width: 768px) {
      top: unset;
      bottom: 0;
    }
  }
  & .layout-content {
    padding: 0;
    @media screen and (max-width: 768px) {
      // padding-top: 160px;
      padding-bottom: 100px;
    }
  }
}

.input {
  background-color: $primary-black;
  border: 1px solid $primary-green;
  padding: 12px 16px;
  border-radius: 16px;
  @include small($light-green);
  &::placeholder {
    color: $primary-green;
  }
  &:focus {
    outline: solid 1px $secondary-green;
  }
}

.btn {
  padding: 12px 16px;
  background-color: $primary-green;
  border-radius: 16px;
  border: none;
  @include small($light-green);
  &:hover,
  &:focus {
    background-color: $secondary-green;
    @include small($primary-black);
  }
}

.braille-letter {
  width: 40px;
  background-color: $primary-black;
  display: grid;
  grid-template-columns: auto auto; /* 2 columns */
  grid-template-rows: 16px 16px 16px; /* 3 rows */
  gap: 4px 8px; /* vertical and horizontal gap */
  .braille-dots {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dots-item {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $primary-green; /* Change to desired color */
  }
}
